<div class="@Class banner" id="@Id" style="@Style">
    @*<div class="header-w3layouts">
        <div class="container">
            <div class="header-bar">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" @onclick="@ToggledNavMenu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="#">W<span>&</span>E</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class=" navbar-collapse navbar-right collapse @NavMenuCssClass" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav" id="menu">
                                <li><a href="#about" data-menuanchor="about" @onclick="@ToggledNavMenu" target="_top" class="scroll">時間地點</a></li>
                                <li><a href="#services" data-menuanchor="services" @onclick="@ToggledNavMenu" target="_top" class="scroll">我們的故事</a></li>
                                <li><a href="#gallery" data-menuanchor="gallery" @onclick="@ToggledNavMenu" target="_top" class="scroll">婚紗照片</a></li>
                                <li><a href="#contact" data-menuanchor="contact" @onclick="@ToggledNavMenu" target="_top" class="scroll">出席回覆</a></li>
                            </ul>
                        </nav>
                    </div>
                </nav>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>*@
    <div class="container">
        <div class="slider">
            <div class="callbacks_container w3l">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="slider-info">
                            <h4>@_dateFormat</h4>
                            <h4>@_timeFormat</h4>
                            <p>@_invitationDescription</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <Countdown Style="" />
</div>


